  <footer class="footer">
    <div class="footer-links">
    <div class="text-block">
      <a href="https://infunibuley.github.io/pages/contact" target="_blank">Contact</a>
    </div>
    <div class="text-block">
      <a href="https://instagram.com/infunibuley" target="_blank">Instagram</a>
    </div>
    <div class="text-block">
      <a href="https://substack.com/@infunibuley" target="_blank">Substack</a>
    </div>
    <div class="text-block">
      <a href="https://github.com/infunibuley" target="_blank">GitHub</a>
    </div>
    </div>
  </footer>